* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

.wrapper {
  width: 100%;
  display: flex; }

.viewpage {
  width: 100%;
  margin: auto;
  text-align: center; }

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }
