<!-- OUR SITE -->
    <section class="our-website">
        <div class="row section">
            <div class="container_about">
                <div class="content-section">
                    <div class="title">
                        <h1>ABOUT US</h1>
                    </div>
                    <div class="content">
                        <h3>My Website</h3>
                        <p>
                            Ngoài block and inline display, còn có display inline-block.
                            Một phần tử bạn chỉ định hiển thị display inline-block được inline theo bản trình bày.
                            Nhưng nó có thêm lợi thế là bạn có thể áp dụng chiều rộng và chiều cao cho nó,
                            điều mà bạn không thể thực hiện khi phần tử được gán một điểm không phù hợp với inline.
                            Vì vậy, bạn có thể xem màn hình display inline-block như một phần tử inline và block trong một gói.
                            Giá trị display inline-block là sự kết hợp của display inline và block.
                        </p>
                        <div class="button">
                            <a href="">Read More</a>
                        </div>
                    </div>
                    <div class="social">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="image">
                    <img src="img/about-us/background1.jpg">
                </div>
            </div>
        </div>
    </section>

<!-- COMPANY SITE -->
    <section class="company">
        <div class="row">
            <h1>COMPANY</h1>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="img/about-us/cityscape.png" />
                    </div>
                    <h3>Company</h3>
                    <p>content</p>
                    <div class="icons">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-earth-americas"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="img/about-us/cityscape.png" />
                    </div>
                    <h3>Company</h3>
                    <p>content</p>
                    <div class="icons">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-earth-americas"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="img/about-us/cityscape.png" />
                    </div>
                    <h3>Company</h3>
                    <p>content</p>
                    <div class="icons">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-earth-americas"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>